{% extends "mainapp/base.html" %}
{% block content %}
        <article class="media container">
                <div class="media-body post-b">
                        {% if object.file_type == "image" %}
                        <img class="post-img" src="{{ object.post.url }}" alt="">
                        {% else %}
                        <video class="post-img" src="{{ object.post.url }}" controls></video>
                        {% endif %}
                        <div class="items">
                                <h3 class="account-heading">{{ object.context }}</h3>
                                <div class="article-metadata">
                                        <p class="text-secondary">{{ object.date_posted|date:"F d, Y" }}</p>
                                </div>
                        </div>
                </div>
        </article>
        <div class="right me-4">
                <a href="{% url 'post-update' post.id %}"><button type="button" class="btn btn-outline-info">UPDATE</button></a>
                <a href="{% url 'post-delete' post.id %}" class="ms-2"><button type="button" class="btn btn-outline-danger">DELETE</button></a>
        </div>
{% endblock %}
