{% extends "mainapp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="container">
                <form method="POST" class="mb-4">
                        {% csrf_token %}
                        <fieldset class="form-group mb-4">
                                <legend class="border-bottom mb-4">
                                        PASSWORD RESET
                                </legend>
                                {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                                <button type="submit" class="btn btn-outline-info">Reset Password</button>
                        </div>
                </form>
        
        </div>
{% endblock %}